<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Speech To Text</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="speechNotSupported">
    <button ion-button disabled (click)="getSupportedLanguages()">Get supported languages</button>
    <button ion-button disabled (click)="listenForSpeech()">Listen for speech</button>
  </div>

  <div *ngIf="!speechNotSupported">
    <button ion-button (click)="getSupportedLanguages()">Get supported languages</button>
    <button ion-button (click)="listenForSpeech()">Listen for speech</button>
  </div>

  <ion-card>
    <ion-card-content *ngFor="let speech of speechList">
      <p>{{speech}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>